export REDIS_HOST="localhost:6378"
export REDIS_PASSWORD=""
export REDIS_DB="0"
export REDISEARCH_HOST="localhost:6378"
export REDISEARCH_INDEX="articleIndex"
export POSTGRES_HOST="localhost"
export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="mysecret"
export POSTGRES_DB_NAME="postgres"
export POSTGRES_PORT="5431"